name: account-check
on:
  push:
    branches: [v1]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    if: "( contains(github.event.head_commit.message, 'run') || github.event_name == 'workflow_dispatch')"
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{secrets.GH_PAT}}
      - run: if ! [ -z $(ls acc) ] || ! [ -z `cat acc.txt` ]; then echo "starting..."; else exit 78; fi
      - name: installing
        run: |
          sudo apt update > /dev/null; sudo apt -y install wget python3 python3-pip > /dev/null
          sudo wget https://repo.nordvpn.com/deb/nordvpn/debian/pool/main/nordvpn_3.14.1_amd64.deb -O /tmp/nord.deb -q; sudo apt -y install /tmp/nord.deb > /dev/null
          sudo apt install nordvpn -y >/dev/null
          sudo pip install -r req.txt > /dev/null
      - name: run nordvpnd
        run: |
          sudo bash -c "if ! ls -al /run/nordvpn; then mkdir /run/nordvpn; fi"
          sudo /usr/sbin/nordvpnd>/dev/null&
      - name: start
        run: sudo python3 main.py
      - name: push
        run: |
          git config --global user.email "git@github.com"; git config --global user.name "github-runner"
          git add .; git commit -m runner-update --allow-empty; git push -f
